In [4]:
import numpy as np
import pandas as pd

In [3]:
data=pd.Series([1,2,3,4],index=['a','b','c','d'])
data

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
data.names="numbers"
data

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
data.shape

(4,)

In [6]:
data.values

array([1, 2, 3, 4])

In [7]:
data.iloc[0:5:2],data.loc['a':'d':2]

(a    1
 c    3
 dtype: int64,
 a    1
 c    3
 dtype: int64)

In [8]:
data.loc[['a','d']]

a    1
d    4
dtype: int64

In [9]:
dict={
    "name":["Anu","Revanth","Manu","Raj"],
    "usn":[1,2,3,4],
    "age":[22,23,24,25]
}
dict

{'name': ['Anu', 'Revanth', 'Manu', 'Raj'],
 'usn': [1, 2, 3, 4],
 'age': [22, 23, 24, 25]}

In [10]:
df=pd.DataFrame(dict)
df

      name  usn  age
0      Anu    1   22
1  Revanth    2   23
2     Manu    3   24
3      Raj    4   25

In [11]:
data1 = pd.read_csv("/content/drive/MyDrive/sample.csv")

In [12]:
data1.head()

,Unnamed: 0,EmpID,Name,Department,Age,Salary,Experience,JoiningDate,City,PerformanceScore
0,0,101,Ram,IT,25,50000,2,2021-01-15,Bangalore,4.5
1,1,102,Shyam,HR,30,45000,5,2019-03-10,Mumbai,3.8
2,2,103,Geeta,Finance,28,60000,4,2020-07-22,Delhi,4.2
3,3,104,Anita,IT,35,75000,10,2015-09-30,Bangalore,4.9
4,4,105,Kiran,HR,32,52000,7,2018-06-12,Mumbai,4.1

In [13]:
data1.describe()

,Unnamed: 0,EmpID,Age,Salary,Experience,PerformanceScore
count,20.00000,20.00000,20.000000,20.000000,20.000000,20.000000
mean,9.50000,110.50000,32.700000,59875.000000,7.400000,4.190000
std,5.91608,5.91608,5.449288,13388.796377,4.615762,0.415363
min,0.00000,101.00000,25.000000,45000.000000,2.000000,3.500000
25%,4.75000,105.75000,28.750000,50750.000000,4.000000,3.900000
50%,9.50000,110.50000,31.500000,56500.000000,6.000000,4.150000
75%,14.25000,115.25000,36.250000,61250.000000,10.250000,4.425000
max,19.00000,120.00000,45.000000,90000.000000,18.000000,4.900000

In [14]:
data1.shape

(20, 10)

In [15]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20 non-null     int64
 1   EmpID             20 non-null     int64
 2   Name              20 non-null     object
 3   Department        20 non-null     object
 4   Age               20 non-null     int64
 5   Salary            20 non-null     int64
 6   Experience        20 non-null     int64
 7   JoiningDate       20 non-null     object
 8   City              20 non-null     object
 9   PerformanceScore  20 non-null     float64
dtypes: float64(1), int64(5), object(4)
memory usage: 1.7+ KB

In [16]:
data1[["Name","Department","Salary"]]

     Name Department  Salary
0     Ram         IT   50000
1   Shyam         HR   45000
2   Geeta    Finance   60000
3   Anita         IT   75000
4   Kiran         HR   52000
5    John    Finance   58000
6   Meena         IT   82000
7   David         HR   48000
8    Sara    Finance   61000
9   Arjun         IT   54000
10   Ravi         HR   47000
11  Priya    Finance   59000
12  Kunal         IT   90000
13  Sneha         HR   51000
14  Vijay    Finance   62000
15   Neha         IT   88000
16   Amit         HR   53000
17  Pooja    Finance   57000
18  Rahul         IT   56000
19  Divya         HR   49500

In [17]:
data1.sample()

,Unnamed: 0,EmpID,Name,Department,Age,Salary,Experience,JoiningDate,City,PerformanceScore
7,7,108,David,HR,26,48000,2,2022-02-14,Mumbai,3.7

In [16]:
data1 = pd.read_csv("/content/drive/MyDrive/test2.csv")

In [55]:
data1

   Unnamed: 0     Name   Age Department   Salary
0           0    Alice  25.0         HR  50000.0
1           1      Bob  30.0         IT  60000.0
2           2  Charlie  35.0    Finance  70000.0
3           3    David   NaN         IT  62000.0
4           4      Eve  29.0         HR      NaN
5           5    Alice  25.0         HR  50000.0

In [56]:
data1.loc[ :,"Name":"Department"]

      Name   Age Department
0    Alice  25.0         HR
1      Bob  30.0         IT
2  Charlie  35.0    Finance
3    David   NaN         IT
4      Eve  29.0         HR
5    Alice  25.0         HR

In [57]:
data1.iloc[1:4,1:4]

      Name   Age Department
1      Bob  30.0         IT
2  Charlie  35.0    Finance
3    David   NaN         IT

In [58]:
#to rename columns
data1.rename(columns={"Name":"N","Age":"A","Department":"D"},inplace=True)
data1

   Unnamed: 0        N     A        D   Salary
0           0    Alice  25.0       HR  50000.0
1           1      Bob  30.0       IT  60000.0
2           2  Charlie  35.0  Finance  70000.0
3           3    David   NaN       IT  62000.0
4           4      Eve  29.0       HR      NaN
5           5    Alice  25.0       HR  50000.0

In [59]:
#to remove column
data1.drop('Unnamed: 0',axis=1)

         N     A        D   Salary
0    Alice  25.0       HR  50000.0
1      Bob  30.0       IT  60000.0
2  Charlie  35.0  Finance  70000.0
3    David   NaN       IT  62000.0
4      Eve  29.0       HR      NaN
5    Alice  25.0       HR  50000.0

In [60]:
data1

   Unnamed: 0        N     A        D   Salary
0           0    Alice  25.0       HR  50000.0
1           1      Bob  30.0       IT  60000.0
2           2  Charlie  35.0  Finance  70000.0
3           3    David   NaN       IT  62000.0
4           4      Eve  29.0       HR      NaN
5           5    Alice  25.0       HR  50000.0

In [61]:
# to remove column permanently
data1.drop('Unnamed: 0',axis=1,inplace=True)  #axis=1 means row

In [62]:
data1

         N     A        D   Salary
0    Alice  25.0       HR  50000.0
1      Bob  30.0       IT  60000.0
2  Charlie  35.0  Finance  70000.0
3    David   NaN       IT  62000.0
4      Eve  29.0       HR      NaN
5    Alice  25.0       HR  50000.0

In [65]:
data1["updated_salary"]=data1["Salary"]+5000   # to update column

In [66]:
data1

         N     A        D   Salary  updated_salary
0    Alice  25.0       HR  50000.0         55000.0
1      Bob  30.0       IT  60000.0         65000.0
2  Charlie  35.0  Finance  70000.0         75000.0
3    David   NaN       IT  62000.0         67000.0
4      Eve  29.0       HR      NaN             NaN
5    Alice  25.0       HR  50000.0         55000.0

In [67]:
#above update can be done using map function
data1["upadated_salary2"]=data1["Salary"].map(lambda x:x+10000)

In [68]:
data1

         N     A        D   Salary  updated_salary  upadated_salary2
0    Alice  25.0       HR  50000.0         55000.0           60000.0
1      Bob  30.0       IT  60000.0         65000.0           70000.0
2  Charlie  35.0  Finance  70000.0         75000.0           80000.0
3    David   NaN       IT  62000.0         67000.0           72000.0
4      Eve  29.0       HR      NaN             NaN               NaN
5    Alice  25.0       HR  50000.0         55000.0           60000.0

In [70]:
#to covert age datatype from float to int use astype : data1.Age.astype(int)
#datatype cannot be changed if we have nan values in dataset
data1.A.dtype

dtype('float64')

In [71]:
data1.dropna(inplace=True)

In [72]:
data1

         N     A        D   Salary  updated_salary  upadated_salary2
0    Alice  25.0       HR  50000.0         55000.0           60000.0
1      Bob  30.0       IT  60000.0         65000.0           70000.0
2  Charlie  35.0  Finance  70000.0         75000.0           80000.0
5    Alice  25.0       HR  50000.0         55000.0           60000.0

In [73]:
data1.A.astype("int")

0    25
1    30
2    35
5    25
Name: A, dtype: int64

In [74]:
#to filter
data1[data1["A"]>25]

         N     A        D   Salary  updated_salary  upadated_salary2
1      Bob  30.0       IT  60000.0         65000.0           70000.0
2  Charlie  35.0  Finance  70000.0         75000.0           80000.0

In [2]:
data1

NameError: name 'data1' is not defined

In [6]:
data1

   Unnamed: 0     Name   Age Department   Salary
0           0    Alice  25.0         HR  50000.0
1           1      Bob  30.0         IT  60000.0
2           2  Charlie  35.0    Finance  70000.0
3           3    David   NaN         IT  62000.0
4           4      Eve  29.0         HR      NaN
5           5    Alice  25.0         HR  50000.0

In [7]:
data1["Age"]=data1["Age"].fillna(value=data1["Age"].mean())

In [8]:
data1

   Unnamed: 0     Name   Age Department   Salary
0           0    Alice  25.0         HR  50000.0
1           1      Bob  30.0         IT  60000.0
2           2  Charlie  35.0    Finance  70000.0
3           3    David  28.8         IT  62000.0
4           4      Eve  29.0         HR      NaN
5           5    Alice  25.0         HR  50000.0

In [9]:
data1["Salary"]=data1["Salary"].fillna(value=data1["Salary"].mean())

In [10]:
data1

   Unnamed: 0     Name   Age Department   Salary
0           0    Alice  25.0         HR  50000.0
1           1      Bob  30.0         IT  60000.0
2           2  Charlie  35.0    Finance  70000.0
3           3    David  28.8         IT  62000.0
4           4      Eve  29.0         HR  58400.0
5           5    Alice  25.0         HR  50000.0

In [11]:
#to count the particular categorical value- use- value_counts()
data1["Department"].value_counts()

Department
HR         3
IT         2
Finance    1
Name: count, dtype: int64

In [17]:
data1

   Unnamed: 0     Name   Age Department   Salary
0           0    Alice  25.0         HR  50000.0
1           1      Bob  30.0         IT  60000.0
2           2  Charlie  35.0    Finance  70000.0
3           3    David   NaN         IT  62000.0
4           4      Eve  29.0         HR      NaN
5           5    Alice  25.0         HR  50000.0

In [18]:
data1["Age"]=data1["Age"].fillna(method="ffill")
data1["Salary"]=data1["Salary"].fillna(method="bfill")

/tmp/ipython-input-3272932298.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1["Age"]=data1["Age"].fillna(method="ffill")
/tmp/ipython-input-3272932298.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1["Salary"]=data1["Salary"].fillna(method="bfill")

In [19]:
data1.Age.ffill()

0    25.0
1    30.0
2    35.0
3    35.0
4    29.0
5    25.0
Name: Age, dtype: float64

In [20]:
data1.Salary.bfill()

0    50000.0
1    60000.0
2    70000.0
3    62000.0
4    50000.0
5    50000.0
Name: Salary, dtype: float64

In [21]:
#if you want to update the column other than using map function we can use apply function
data1["updated_salary"]=data1["Salary"].apply(lambda x:x+500)
data1         #column wise update

   Unnamed: 0     Name   Age Department   Salary  updated_salary
0           0    Alice  25.0         HR  50000.0         50500.0
1           1      Bob  30.0         IT  60000.0         60500.0
2           2  Charlie  35.0    Finance  70000.0         70500.0
3           3    David  35.0         IT  62000.0         62500.0
4           4      Eve  29.0         HR  50000.0         50500.0
5           5    Alice  25.0         HR  50000.0         50500.0

In [22]:
#row wise update
data1["level"]=data1.apply(lambda s:"High" if s["Salary"]>60000 else "Low",axis=1)
data1

   Unnamed: 0     Name   Age Department   Salary  updated_salary level
0           0    Alice  25.0         HR  50000.0         50500.0   Low
1           1      Bob  30.0         IT  60000.0         60500.0   Low
2           2  Charlie  35.0    Finance  70000.0         70500.0  High
3           3    David  35.0         IT  62000.0         62500.0  High
4           4      Eve  29.0         HR  50000.0         50500.0   Low
5           5    Alice  25.0         HR  50000.0         50500.0   Low

In [23]:
data1.groupby("Department")["Salary"].mean()

Department
Finance    70000.0
HR         50000.0
IT         61000.0
Name: Salary, dtype: float64

In [25]:
#filtered
filtered=data1[(data1["Age"]>28)& (data1["Salary"]>50000)]

In [26]:
filtered

   Unnamed: 0     Name   Age Department   Salary  updated_salary level
1           1      Bob  30.0         IT  60000.0         60500.0   Low
2           2  Charlie  35.0    Finance  70000.0         70500.0  High
3           3    David  35.0         IT  62000.0         62500.0  High

In [27]:
#filtered u.sing or
filtered1=data1[(data1["Age"]>28)| (data1["Salary"]>50000)]
filtered1

   Unnamed: 0     Name   Age Department   Salary  updated_salary level
1           1      Bob  30.0         IT  60000.0         60500.0   Low
2           2  Charlie  35.0    Finance  70000.0         70500.0  High
3           3    David  35.0         IT  62000.0         62500.0  High
4           4      Eve  29.0         HR  50000.0         50500.0   Low